@model SmartTech.Models.ProductWithImages

@{
    ViewBag.Title = "Details";
}
<!-- ======================= Product Detail ======================== -->
<section class="middle">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12">
                
                <div class="quick_view_slide">
                    @foreach (var product_photo in Model.ProductPhotos)
                    {

                        <div class="single_view_slide">

                            <a href="@Url.Content($"~/Content/uploads/frontend/productImages/{product_photo}")" data-lightbox="roadtrip" class="d-block mb-4"><img src="@Url.Content($"~/Content/uploads/frontend/productImages/{product_photo}")" class="img-fluid rounded" alt="" /></a>

                        </div>

                    }
                </div>
            </div>

            <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
                <div class="prd_details pl-3">

@*                    <div class="prt_01 mb-1"><span class="text-light bg-info rounded px-2 py-1">@</span></div>*@
                    <div class="prt_02 mb-3">
                        <h2 class="ft-bold mb-1">@Model.Product.name</h2>
                        <div class="text-left">
                            @*<div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="small">(412 Reviews)</span>
                            </div>*@
                            <div class="elis_rty"><span class="ft-bold theme-cl fs-lg mr-2">$@Model.Product.price</span></div>
                        </div>
                    </div>

                    <div class="prt_03 mb-4">
                    </div>

                    <form class="prt_05 mb-4" method="post" action="/Products/AddToCart">
                        <div class="form-row mb-7">
                            <div class="col-12 col-lg-auto form-group">
                                <!-- Quantity -->
                                <select name="qnt" required id="qnt" class="mb-2 custom-select">
                                    <option value="1" selected="">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="col-12 col-lg form-group">
                                <!-- Submit -->
                                <button type="submit" class="btn btn-block custom-height bg-dark mb-2">
                                    <i class="lni lni-shopping-basket mr-2"></i>Add to Cart
                                </button>
                                @if (Session["user"] == null)
                                {
                                    <h5 class="text-danger">You need to login before you can add to cart!</h5>
                                }
                            </div>
                        </div>
                        <div class="description_info">
                            <p class="p-0">@Model.Product.description</p>
                        </div>
                    </form>

                    <div class="prt_06">
                        <p class="mb-0 d-flex align-items-center">
                            <span class="mr-4">Share:</span>
                            <a class="d-inline-flex align-items-center justify-content-center p-3 gray circle fs-sm text-muted mr-2" href="#!">
                                <i class="fab fa-twitter position-absolute"></i>
                            </a>
                            <a class="d-inline-flex align-items-center justify-content-center p-3 gray circle fs-sm text-muted mr-2" href="#!">
                                <i class="fab fa-facebook-f position-absolute"></i>
                            </a>
                            <a class="d-inline-flex align-items-center justify-content-center p-3 gray circle fs-sm text-muted" href="#!">
                                <i class="fab fa-pinterest-p position-absolute"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Product Detail End ======================== -->
<!-- ======================= Similar Products Start ============================ -->
<!--<section class="middle pt-0">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="sec_title position-relative text-center">
                    <h2 class="off_title">Similar Products</h2>
                    <h3 class="ft-bold pt-3">Matching Products</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="slide_items">-->

                    <!-- single Item -->
                    <!--<div class="single_itesm">
                        <div class="product_grid card b-0 mb-0">
                            <div class="badge bg-success text-white position-absolute ft-regular ab-left text-upper">Sale</div>
                            <div class="card-body p-0">
                                <div class="shop_thumb position-relative">
                                    <a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img class="card-img-top" src="assets/img/product/16.png" alt="..."></a>
                                </div>
                            </div>
                            <div class="card-footer b-0 p-3 pb-0 d-flex align-items-start justify-content-center">
                                <div class="text-left">
                                    <div class="text-center">
                                        <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="shop-single-v1.html">Half Running Set</a></h5>
                                        <div class="elis_rty"><span class="ft-bold fs-md text-dark">$119.00</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- single Item ends -->
                <!--</div>
            </div>
        </div>

    </div>
</section>-->
<!-- ======================= Similar Products Start ============================ -->